.top-header {
	  background-color: #E8C84F;
	  font-family: Nunito;
    font-size: 16px;
    font-weight: bold;
    color: #353535;
}

.top-header a {
	color: #353535;
}

.top-header a.active {
	color: #947101;
}


.jumbotron {
	background-image: url("../images/main-bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-color: #E8C84F;
	height: 430px;
  margin-bottom: 0em;
}


.jumbotron-content {
	margin-top: 3.5em;

}


.jumbo-title {
  color: #b91d44;
  font-family: Nunito;
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.0em;
}

.jumbo-title-two {
  color: #3c3c3c;
  font-family: Nunito;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.62em;
  letter-spacing: -0.7px;
}


.main-search {
  width: 600px;
  height: 50px;
}

input[type="text"] {
	border-radius: 100px;
}




.second-block {
  background-color: #129666;
  text-align: center;
  font-family: Nunito;
  padding: 20px;
}

.category-icons-one {
  
}

.category-icons-two {
  margin: 10px;
  color: #fff;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  text-align: center;


}


.block-title {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  line-height: 39px;
  font-size: 36px;
  letter-spacing: -0.03em;
}

.block-subtitle {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  line-height: 29px;
  font-size: 24px;
  letter-spacing: -0.03em;
}




