.top-header {
	  background-color: #E8C84F;
	  font-family: Nunito;
    font-size: 16px;
    font-weight: bold;
    color: #353535;
}

.top-header a {
	color: #353535;
}

.top-header a.active {
	color: #947101;
}


.jumbotron {
	background-image: url("../images/main-bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-color: #E8C84F;
	height: 500px;
  margin-bottom: 0em;
}


.jumbotron-content {
	margin-top: 3.5em;

}


.jumbo-title {
  color: #b91d44;
  font-family: Nunito;
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.0em;
}

.jumbo-title-two {
  color: #3c3c3c;
  font-family: Nunito;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.62em;
  letter-spacing: -0.7px;
}


.main-search {
  width: 600px;
  height: 50px;
  border-radius: 100px;
}

input[type="text"] {
	border-radius: 100px;
}




.second-block {
  background-color: #129666;
  text-align: center;
  font-family: Nunito;
  padding: 20px;
}

.category-icons-one {
  
}

.category-icons-two {
  margin: 10px;
  color: #fff;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  text-align: center;


}


.img-rotate:hover {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(359deg);
  -moz-transform: rotate(359deg);
  -o-transform: rotate(359deg);
  -ms-transform: rotate(359deg);
  transform: rotate(359deg);
}


.block-title {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  line-height: 39px;
  font-size: 36px;
  letter-spacing: -0.03em;
  margin-bottom: 0px;
}

.block-subtitle {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  line-height: 29px;
  font-size: 24px;
  letter-spacing: -0.03em;
}




.third-block {
  background-image: url("../images/pattern1.png");
}


.third-block-inner {
  padding-top: 25px;
}

.taj-mahal-third {
  text-align: center;
  padding-bottom: 20px;
  
}


.firstcards {
  padding-bottom: 2em;
}


.card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-outer {
  padding: 10px;
}

.card-view {
  background-color: #EB5757;

  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  line-height: 22px;
  font-size: 18px;
  letter-spacing: -0.03em;

color: #FFFFFF;

}

.card-view2 {
  background-color: #F2994A;

  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  line-height: 22px;
  font-size: 18px;
  letter-spacing: -0.03em;

color: #FFFFFF;

}

.card-view3 {
  background-color: #9B51E0;

  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  line-height: 22px;
  font-size: 18px;
  letter-spacing: -0.03em;

color: #FFFFFF;

}

.card-view4 {
  background-color: #27AE60;

  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  line-height: 22px;
  font-size: 18px;
  letter-spacing: -0.03em;

color: #FFFFFF;

}



.card-icon {
  position: absolute;
  margin: -55px 0px 0px 73px;
}

.card-title-text {
  padding-top: 13px;
}




.forth-block {
  padding-top: 1.5em;
  padding-bottom: 2.5em;
  background-image: url("../images/pattern2.png");
}


.second-card-info {
  position: absolute;
  color: #fff;
  font-family: Nunito;
  font-size: 16px;
  letter-spacing: -0.03em;
  margin: -159px 0 0 18px;
}

#second-card-text {
  margin-bottom: 2px;
}


button[type="button2"] {
  border-radius: 100px;
  width: 150px;
  margin: 38px 0 0 0;
  background-color: #29CD00;

}


.forth-block-text {
  padding: 1em 0em 2em 0em;
}

.ads728 {
  margin-top: 2.5em;
}


.main-footer {
  background-color: #2F2F2F;
  padding-top: 2em;
  padding-bottom: 0.5em;
}

.footer-title {
  font-family: Nunito;
  font-style: normal;
  font-size: 20px;
  letter-spacing: -0.03em;
  color: #8F8F8F;
  margin: 20px 0px 0px 0px;
}


.footer-links li {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  line-height: 32px;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #E7E7E7;
  list-style-type: none;
}